@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-[rgb(12,12,12)];
    cursor: url('./images/custom.png'), auto;
    overflow-x: hidden;  
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.animation-container:hover .animate-slider {
    animation-play-state: paused;
  }

.spinner {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.slide{
    animation: slide 1.5s linear infinite;
}

@keyframes slide {
    0% { transform: translateX(0px); }
    50% { transform: translateX(-80px); }
}

@media (max-width: 768px) {
    @keyframes slide {
        0% { transform: translateX(0px); }
        50% { transform: translateX(-30px); }
    }
  }
  
  
  